flows.json
[
    {
        "id": "a8b38e84e022045a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cef94ed367d68451",
        "type": "group",
        "z": "a8b38e84e022045a",
        "name": "FUNCTION",
        "style": {
            "label": true
        },
        "nodes": [
            "8d46e1cca9c61984",
            "f27e713b17569621",
            "dccce444841e48f9",
            "31b4fd32fbd10bf1",
            "ff3146ce55d2c02c",
            "d3216f82ad57a02a",
            "28afe19ca91236ad",
            "6e452a3b70e075e9",
            "046be459bde280be",
            "643ef5b977ddd1e3",
            "3356b91224ced975"
        ],
        "x": 74,
        "y": 159,
        "w": 632,
        "h": 742
    },
    {
        "id": "3ed996fca297b434",
        "type": "group",
        "z": "a8b38e84e022045a",
        "name": "Main",
        "style": {
            "label": true
        },
        "nodes": [
            "6e10284770ce7551",
            "39c351acb228849d",
            "89edb8f5e6f32a72",
            "ceb4adf8a60a76a8",
            "0eaa4bf93d9ecf78",
            "b40f94a9cb875b98",
            "1e73f31ef52220aa",
            "49ca27d73e6e0fd1",
            "08984260dea61e20",
            "98b6862653fc9903"
        ],
        "x": 734,
        "y": 159,
        "w": 912,
        "h": 742
    },
    {
        "id": "13e9ac1a4bc15557",
        "type": "group",
        "z": "a8b38e84e022045a",
        "name": "Temperature",
        "style": {
            "label": false,
            "stroke": "none"
        },
        "nodes": [
            "b6358b4d268ae3b4",
            "6a815342c8ab3bbd",
            "37b5ebcbe03c3c35",
            "230aa3c745ae869a"
        ],
        "x": 74,
        "y": 499,
        "w": 632,
        "h": 262
    },
    {
        "id": "8d46e1cca9c61984",
        "type": "mqtt in",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "",
        "topic": "LIGHTit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b2fae019dc6db396",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f27e713b17569621",
                "dccce444841e48f9",
                "6e452a3b70e075e9",
                "3356b91224ced975"
            ]
        ]
    },
    {
        "id": "f27e713b17569621",
        "type": "ui_gauge",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "Light Intensity",
        "group": "b1f2b491c07bbba6",
        "order": 4,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Light Intensity Gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00cbe6",
            "#ca3838"
        ],
        "seg1": "0.3",
        "seg2": "0.6",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "dccce444841e48f9",
        "type": "ui_chart",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "light intensity chart",
        "group": "b1f2b491c07bbba6",
        "order": 10,
        "width": 7,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6e10284770ce7551",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "function 3",
        "func": "\nreturn {\n    payload:msg.payload\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 300,
        "wires": [
            [
                "39c351acb228849d"
            ]
        ]
    },
    {
        "id": "39c351acb228849d",
        "type": "mqtt out",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "",
        "topic": "SERVO-ANGLE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2fae019dc6db396",
        "x": 1540,
        "y": 400,
        "wires": []
    },
    {
        "id": "89edb8f5e6f32a72",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "function 5",
        "func": "let teta_offset = flow.get(\"teta_offset\") || 30;\nlet ctrl_fac = flow.get(\"ctrl_fac\") || 0.75 ;\nlet actual_temp = global.get(\"actual_temp\") || 29 ;\nlet ideal_temp = global.get(\"ideal_temp\") || 30;\nlet sampling_interval = global.get(\"sampling_interval\") || 5;\nlet sending_interval = global.get(\"sending_interval\") ||120 ;\nlet lt_intensity = global.get(\"lt_intensity\") || 0.5;\n\n\nlet teta = teta_offset + (180 - teta_offset)*lt_intensity*ctrl_fac* (Math.log(sampling_interval/sending_interval)) * (actual_temp/ideal_temp)  ;\nif (teta < 0){\n    teta=teta_offset;\n}\nmsg.payload=teta;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 460,
        "wires": [
            [
                "ceb4adf8a60a76a8",
                "6e10284770ce7551"
            ]
        ]
    },
    {
        "id": "ceb4adf8a60a76a8",
        "type": "ui_gauge",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "",
        "group": "488a9ab33d5c3797",
        "order": 5,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Servo_angle",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#00cbe6",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1490,
        "y": 640,
        "wires": []
    },
    {
        "id": "0eaa4bf93d9ecf78",
        "type": "ui_slider",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "",
        "label": "Teta_offset",
        "tooltip": "",
        "group": "488a9ab33d5c3797",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 200,
        "wires": [
            [
                "1e73f31ef52220aa"
            ]
        ]
    },
    {
        "id": "b40f94a9cb875b98",
        "type": "ui_slider",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "",
        "label": "Cotrolling_factor",
        "tooltip": "",
        "group": "488a9ab33d5c3797",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "control",
        "topicType": "global",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 840,
        "y": 760,
        "wires": [
            [
                "49ca27d73e6e0fd1"
            ]
        ]
    },
    {
        "id": "1e73f31ef52220aa",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "function 9",
        "func": "let teta = parseFloat(msg.payload);\nflow.set(\"teta_offset\", Number(msg.payload));\nreturn { payload: teta };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "89edb8f5e6f32a72"
            ]
        ]
    },
    {
        "id": "49ca27d73e6e0fd1",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "function 3",
        "func": "let control= parseFloat(msg.payload);\nflow.set(\"ctrl_fac\", Number(msg.payload));\nreturn {payload: control};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "89edb8f5e6f32a72"
            ]
        ]
    },
    {
        "id": "08984260dea61e20",
        "type": "ui_slider",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "",
        "label": "Ideal_temperature",
        "tooltip": "",
        "group": "b1f2b491c07bbba6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 860,
        "wires": [
            [
                "98b6862653fc9903"
            ]
        ]
    },
    {
        "id": "98b6862653fc9903",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "3ed996fca297b434",
        "name": "function 1",
        "func": "let ideal_tem = parseFloat(msg.payload);\nglobal.set(\"ideal_temp\", Number(msg.payload));\nreturn { payload: ideal_tem };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 760,
        "wires": [
            [
                "89edb8f5e6f32a72"
            ]
        ]
    },
    {
        "id": "31b4fd32fbd10bf1",
        "type": "ui_slider",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "",
        "label": "sampling_interval",
        "tooltip": "",
        "group": "b1f2b491c07bbba6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "d3216f82ad57a02a"
            ]
        ]
    },
    {
        "id": "ff3146ce55d2c02c",
        "type": "ui_slider",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "",
        "label": "sending_interval",
        "tooltip": "",
        "group": "b1f2b491c07bbba6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "240",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "28afe19ca91236ad"
            ]
        ]
    },
    {
        "id": "d3216f82ad57a02a",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "function 8",
        "func": "let sampling_interval = parseFloat(msg.payload);\nglobal.set(\"sampling_interval\", Number(msg.payload));\nreturn { payload: sampling_interval };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "89edb8f5e6f32a72",
                "046be459bde280be"
            ]
        ]
    },
    {
        "id": "28afe19ca91236ad",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "function 6",
        "func": "let sending_interval = parseFloat(msg.payload);\nglobal.set(\"sending_interval\", Number(msg.payload)/10);\nreturn { payload: sending_interval };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "89edb8f5e6f32a72",
                "643ef5b977ddd1e3"
            ]
        ]
    },
    {
        "id": "6e452a3b70e075e9",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "function 2",
        "func": "let lt_intensity = parseFloat(msg.payload);\nglobal.set(\"lt_intensity\", Number(msg.payload));\nreturn { payload: lt_intensity };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "89edb8f5e6f32a72"
            ]
        ]
    },
    {
        "id": "046be459bde280be",
        "type": "mqtt out",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "",
        "topic": "SAMPLING-INTERVAL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2fae019dc6db396",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "643ef5b977ddd1e3",
        "type": "mqtt out",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "",
        "topic": "SENDING-INTERVAL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b2fae019dc6db396",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "b6358b4d268ae3b4",
        "type": "mqtt in",
        "z": "a8b38e84e022045a",
        "g": "13e9ac1a4bc15557",
        "name": "",
        "topic": "TEMPERATURE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b2fae019dc6db396",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "37b5ebcbe03c3c35",
                "230aa3c745ae869a",
                "6a815342c8ab3bbd"
            ]
        ]
    },
    {
        "id": "6a815342c8ab3bbd",
        "type": "ui_gauge",
        "z": "a8b38e84e022045a",
        "g": "13e9ac1a4bc15557",
        "name": "Temeprature",
        "group": "b1f2b491c07bbba6",
        "order": 6,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Temperaure Gauge",
        "label": "°C",
        "format": "{{payload}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#00cbe6",
            "#ca3838"
        ],
        "seg1": "26",
        "seg2": "32",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "37b5ebcbe03c3c35",
        "type": "ui_chart",
        "z": "a8b38e84e022045a",
        "g": "13e9ac1a4bc15557",
        "name": "temp chart",
        "group": "b1f2b491c07bbba6",
        "order": 12,
        "width": 7,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "230aa3c745ae869a",
        "type": "function",
        "z": "a8b38e84e022045a",
        "g": "13e9ac1a4bc15557",
        "name": "function 7",
        "func": "let actual_temp = parseFloat(msg.payload);\nglobal.set(\"actual_temp\", Number(msg.payload));\nreturn { payload: actual_temp };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 720,
        "wires": [
            [
                "89edb8f5e6f32a72"
            ]
        ]
    },
    {
        "id": "3356b91224ced975",
        "type": "debug",
        "z": "a8b38e84e022045a",
        "g": "cef94ed367d68451",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "674cd04bf916ab65",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "d4ac752d0c0c9669",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "92a0c83da6cbb8f5",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "d4ac752d0c0c9669",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "0887d80a3058b336",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "374eef6fb10b2e9f",
        "order": 1,
        "width": 4,
        "height": 1
    },
    {
        "id": "d8f3700df9e26c73",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "bfa75c134775682b",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "488a9ab33d5c3797",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "5638471fd950398e",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "488a9ab33d5c3797",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "affadeb6d05fa5e1",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "96fda49c5084a76d",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "5c8d6ae1a09ffda9",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "dd09e57eef61462c",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "b70f5705cda77e87",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "2d740774dbc70c13",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "bc1a5b4559662586",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "2f49725ebfa91222",
        "type": "ui_spacer",
        "z": "a8b38e84e022045a",
        "name": "spacer",
        "group": "b1f2b491c07bbba6",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "b2fae019dc6db396",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1f2b491c07bbba6",
        "type": "ui_group",
        "name": "functions",
        "tab": "64dca6022a8010d1",
        "order": 2,
        "disp": true,
        "width": 17,
        "collapse": false,
        "className": ""
    },
    {
        "id": "488a9ab33d5c3797",
        "type": "ui_group",
        "name": "Main",
        "tab": "64dca6022a8010d1",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": true,
        "className": ""
    },
    {
        "id": "64dca6022a8010d1",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
